body{
    font: 15px/1.5 Arail Helvetica, sans-serif;
   margin: 0px;
    padding: 0px;

}
.container{
    width: 80%;
    margin:auto; 
    overflow:hidden;
    padding-bottom: 20px;
}
header{
background: #353535;
color:white;
border-bottom:#32A0C2 3px solid;
min-height: 70px;
padding-top: 30px;
}
#branding{
    float: left;
}
.highlight{
    color: #32A0C2;
    font-weight: bold;
}
ul{
    margin: 0%;
    padding: 0%;
}
header li{
display: inline;
padding: 0px 20px 0px 20px;
}
header a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}
header nav{
    float: right;
    margin-top: 10px;
}
header #branding h1{
    margin: 0px;
}
/*drop down menu*/


li {
	float: left;
}
li a, .dropdown-btn {
	display: inline-block;
	color: #fff;
	text-align: center;
	text-decoration: none;
    background-color:transparent ;
    padding: 10px;
    font-size: 15px;
    cursor:pointer ;
    border: 1px solid #fff;
}
li a:hover, .dropdown:hover .dropdown-btn {
	background-color: #f5f5f5;
	color: #32A0C2;
}
li.dropdown {
	display: inline-block;
}
.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #f5f5f5;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    
}
.dropdown-menu a {
	color: grey;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-menu a:hover {
	background-color: #32A0C2;
	color: #fff;
}
.dropdown:hover .dropdown-menu {
	display: block;
}



/*middle section*/
.container{
    width: 80%;
    margin:auto; 
    overflow:hidden;
    padding-bottom: 20px;
}
.pictureintro{
    background: url('../images/scientist-standing-casual.png') no-repeat ;
    background-size: auto;  
    text-align: center;
    color:white;
    padding: 200px 100px;
    background-color:#32A0C2 ;

}
/*practical area*/
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.row .col {
display: flex;
flex-direction: column;
align-items:center ;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #353535;
    margin: 20px auto;
}
p{
    color: #353535;
    padding: 0px 40px;
}
.event .btn{
    margin-top: 30px;
}

/*animation*/
img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
/*buttons*/
.btn{
    padding: 8px 15px;
    background:#32A0C2 ;
    border-radius: 30px;
    color: whitesmoke;
    font-size: 15px;
    font-family: "montserrat";
    text-decoration: none;

}
.btn:hover{
    background: whitesmoke;
    color:#32A0C2 ;
    box-shadow: 2px 2px 5px #353535;
}
/*footer*/
footer{
    background:#32A0C2;
    color:white;
    text-align: center;
    min-height: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}
/*h1{
    text-align: center;
    font-size: 50px;
    color: white;

}    */

